body{
 margin-top: 10px;
 margin-bottom: 15px;
 background-repeat: repeat;
 background: scroll;
 background-color: burlywood;
}
.container{
    background-color: #8EA3A6;
    line-height: 10px;
}
.welcome_text{
  font-size: 36px;
  font-weight: bold;
  color:chocolate;
  text-decoration: none; 
  text-align: center; 
}